.comments {
  border-radius: 3px;

  .heading {
    border-bottom: 1px solid #eee;
    padding: 5px;
    margin-bottom: 10px;
  }

  .comment {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999;

    a { color: #555; }


    .media-content {
      color: #333;
      p:last-chind {
        margin-bottom: 0;
      }
    }

    .user-avatar {
      img { width: 32px; height: 32px; border-radius: 120px; }
    }

    .media-right {
      min-width: 100px;
      color: #AAA;
      font-size: 13px;
    }

    .reply-to {
      padding: 5px 10px;
      border-left: 1px solid #eee;
      background: #F9F9F9;
      font-size: 12px;
      color: #555;
      margin-bottom: 10px;

      a:link,
      a:visited { text-decoration: underline; }
    }

    form {
      margin-left: 40px;
    }
  }
}
