<div style="margin: 20px">
  <p>Welcome to Dummy App.</p>

  <ol class="list-group">
    <li class="list-group-item">
      <a href="<%= new_topic_path %>">Create A Topic</a>
    </li>
  </ol>

</div>
