.comments {
  border-radius: 3px;

  .heading {
    padding: 10px;
    font-size: 20px;
  }

  .comment {
    margin-bottom: 10px;
    padding: 10px;
    border-top: 1px solid #eee;
    color: #999;

    @for $i from 1 through 20 {
      &.comment-depth-#{$i} {
        margin-left: 40px * $i;
      }
    }

    a { color: #555; }


    .media-content {
      color: #333;
      p:last-chind {
        margin-bottom: 0;
      }
    }

    .media-heading {
      .opts {
        a { padding: 1px 6px; display:inline-block; }
        a:link,
        a:visited { color: #555; }
        a:hover { text-decoration: none; background: #f0f0f0; }
      }
    }

    .user-avatar {
      img { width: 32px; height: 32px; border-radius: 120px; }
    }

    .media-right {
      min-width: 100px;
      color: #AAA;
      font-size: 13px;
    }

    form {
      margin-left: 40px;
    }
  }
}
